---
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.6.2
    hooks:
      - id: golangci-lint

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [json, yaml, markdown]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: ["--skip=*.yaml"]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      - id: lychee
        args: ["--include-fragments", "--no-progress"]
        types: [markdown]

  - repo: https://github.com/errata-ai/vale
    rev: v3.0.7
    hooks:
      - id: vale

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # This needs to be compiled so we disable it by default
  # - repo: https://github.com/trufflesecurity/truffleHog
  #   rev: v3.88.20
  #   hooks:
  #     - id: trufflehog
