name: CI

on:
  # Allow this config to be reused by other workflows in the repo
  workflow_call:
  pull_request:
    branches: [main]

concurrency:
  group: ci-${{ github.event.number || 'main' }}
  cancel-in-progress: true

jobs:
  preview:
    name: Release preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - run: echo "Release preview"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.x"
      - uses: tox-dev/action-pre-commit-uv@270ddcea3d0ff0ef1527f49d12590954f31b4b3f # v1
      - id: govulncheck
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1
        with:
          go-version-file: .go-version

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - id: test
        run: echo "Test"
